@model NFI.Models.NettadresseVisueltMateriale

<div>
    <h4>Nettadresse Visuelt Materiale</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nettadressetil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nettadressetil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eventueltpassord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eventueltpassord)
        </dd>

    </dl>
</div>