@model NFI.Models.NettadresseVisueltMateriale

<div>
    <h4>Nettadresse Visuelt Materiale</h4>
    <table class="table ">
        <tbody>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Nettadressetil)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nettadressetil)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Eventueltpassord)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Eventueltpassord)
                </td>
            </tr>
        </tbody>
    </table>

</div>