<!DOCTYPE html>

<html>
<head>
    @section scripts
    {
        <script src="~/Scripts/Admin/admin.js"></script>
    }

    <title> Application List </title>

</head>
<body>
    <div>
        <h2> Application List </h2>
        <table id="applicationListTable" class="display" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Sex</th>
                    <th>Company</th>
                    <th>Download</th>
                </tr>
            </thead>
           
        </table>
    </div>

</body>
</html>
