<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/Admin/admin.js"></script>

    <title> Application List </title>
    
</head>
<body>
<div>
    <h2> Hello From Admin Panel </h2>
</div>
    
</body>
</html>
