<!DOCTYPE html>

<html>
<head>
    @section scripts
    {
        <script src="~/Scripts/Admin/admin.js"></script>
    }

</head>
<body>
    <div class="container">
        <h2> Application List </h2>
        <div class="row">

            <div class="panel">
                <div class="panel-body">

                    <div class="col-sm-3">
                        <select id="appType" class="form-control">
                            <option value="2">Insentivordning</option>
                            @*<option value="1" selected="selected">Application1</option>
                            <option value="2" selected="selected"></option>*@
                            
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <label class="checkbox-inline"><input id="includeArchive" type="checkbox" value="1">Include Archive</label>
                    </div>

                    <button type="button" id="searchButton" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>

        <div class="row">

            <div>
                <table id="applicationListTable" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>ProduksjonsforetaketsNavn</th>
                            <th>OrganisasjonsNummer</th>
                            <th>Date</th>
                            <th>OrganisasjonsPostnummer</th>
                            <th>Download</th>
                            <th>Archive</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
