<!DOCTYPE html>

<html>
<head>
    @section scripts
    {
        <script src="~/Scripts/Admin/admin.js"></script>
    }

</head>
<body>
    <div class="container">
        <h2> Application List </h2>
        <div class="row">

            <div class="panel">
                <div class="panel-body">

                    <div class="col-sm-3">
                        <select id="appType" class="form-control">
                            <option value="0" selected="selected">All</option>
                            <option value="1">Sørfond</option>
                            <option value="2">Insentivordning</option>
                            <option value="3">Incentive Scheme </option>
                            <option value="4">UDs reisestøtte</option>
                            <option value="5">Lansering</option>
                            <option value="6">3 Ordninger</option>
                            <option value="7">Video</option>
                            <option value="8">Film</option>
                            <option value="9">Den Kulturelle Skolesekken</option>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <label class="checkbox-inline"><input id="includeArchive" type="checkbox" value="1">Include Archive</label>
                    </div>

                    <button type="button" id="searchButton" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>

        <div class="row">

            <div>
                <table id="applicationListTable" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Application Type</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Create Time</th>
                            <th>Download</th>
                            <th>Archive</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
