@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Feil!</h1>
<h2 class="text-danger">Det oppstod en feil under behandling av din forespørsel.</h2>

<p>@ViewBag.error</p>

