
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success">Vellykket</h1>

<h2 class="text-success">Søknaden er sendt inn. Du vil motta en bekreftelse pr epost om kort tid.</h2>