
@{
    ViewBag.Title = "NFI Services";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p class="lead">NFI Services: </p>
    <pre>&lt;iframe src="http://ubp387.stwserver.net/demo/Insentivordning" width="1050" height="700"&gt;&lt;/iframe&gt;</pre>
   <p>This is a demo iframe form. If you want to test the form with another site just copy and paste the above code. Change the "width" and "height" according to your need. </p>
</div>

<div class="row">
    <div class="col-sm-8">
        <iframe src="../Insentivordning/" width="1050" height="700"></iframe>
    </div>
</div>



