
@{
    ViewBag.Title = "NFI Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p class="lead">NFI Services: </p>

    <input type="radio" name="Insentivordning" value="Insentivordning" checked /> Insentivordning
</div>

<div class="row">
    <div class="col-sm-8">
        <iframe src="http://ubp387.stwserver.net/demo/Insentivordning" width="550" height="500"></iframe>
    </div>
</div>



