
@{
    ViewBag.Title = "NFI Services";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p class="lead">NFI Services: </p>
    <p>This an iframe form. If you want to test the form with another site just copy and paste the following code within an iframe tag. </p>
    <pre>&lt;iframe src="http://ubp387.stwserver.net/demo/Insentivordning" width="550" height="500"&gt;&lt;/iframe&gt;</pre>

</div>

<div class="row">
    <div class="col-sm-8">
        <iframe src="http://ubp387.stwserver.net/demo/Insentivordning" width="550" height="500"></iframe>
    </div>
</div>



