@section scripts
{
    <script src="~/Scripts/Home/home.js"></script>
}

@{
    ViewBag.Title = "NFI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="commentForm" class="form-horizontal" action="/Home/SubmitForm1" enctype="multipart/form-data" method="post">
    @{
        if (TempData["Status"] != null)
        {
            if ((string) TempData["Status"] == "Error")
            {
                Html.RenderPartial("Error");
            }
        }
    }
    <div id="rootwizard" class="container well panel col-sm-8">
        <ul style="display: none">
            <li><a href="#tab1" data-toggle="tab"></a></li>
            <li><a href="#tab2" data-toggle="tab"></a></li>
        </ul>
        <br />
        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <div class="form-group">
                    <label class="control-label col-xs-4" for="namefield">Name</label>
                    <div class="controls">
                        <input type="text" id="namefield" name="name" class="form-control col-xs-6 required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4" for="emailfield">Email</label>
                    <div class="controls">
                        <input type="text" id="emailfield" name="email" class="form-control col-xs-6 required email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-4">Sex</label>
                    <div class="controls">
                        <label class="radio-inline"><input type="radio" value="Male" name="sex">Male</label>
                        <label class="radio-inline"><input type="radio" value="Female" name="sex">Female</label>

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="companyfield">Company</label>
                    <div class="controls">
                        <input type="text" id="companyfield" class="form-control" name="company">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="">Upload File1</label>
                    <span class="btn btn-default btn-file">
                        <input type="file" name="file1" id="file1" class="btn-file" />
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="">Upload File2</label>
                    <span class="btn btn-default btn-file">
                        <input type="file" name="file2" id="file2" class="btn-file" />
                    </span>
                </div>
            </div>
            <div class="row col-sm-10" id="ajaxLoader" style="display: none">
                <img style="display: block; margin: 0 auto;" alt="*" src="~/Images/ajax-loader.gif" />
            </div>
            <div id="wizardBtn" class="row col-sm-10">
                <ul class="pager wizard">
                    <li class="previous pull-left"><a href="javascript:;">Previous</a></li>
                    <li class="next pull-right"><a href="javascript:;">Next</a></li>
                    <li><button id="btnSubmit" type="submit" class="btn btn-success pull-right" style="display: none">Submit</button></li>
                </ul>

            </div>

        </div>
    </div>

</form>
